<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" xmlns:android   = "http://schemas.android.com/apk/res/android" id = "com.hardeep.arastestt" versionCode = "73" version   = "1.0.73">
<name>Áras Chrónáin</name>
<preference name="phonegap-version" value="3.0.0" />
<splash src="splash.png" />
<icon src="icon.png" />
</widget>