<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" xmlns:android   = "http://schemas.android.com/apk/res/android" id = "com.hardeep.roundtowers" versionCode = "14" version   = "1.0.14">
<name>Round Towers</name>
<!-- <preference name="phonegap-version" value="cli-6.5.0" /> -->
<preference name='phonegap-version' value='cli-7.1.0' />
<preference name='pgb-builder-version' value='2' />


<icon src="icon.png" platform="ios" width="57" height="57"/>
<icon src="icon.png" platform="android" width="57" height="57"/>
<icon src="icon.png" platform="windows" width="57" height="57"/> 

<!-- <splash src="splash.png" /> -->


<!-- iPhone 6 / 6+
<icon src="icons/ios/AppIcon/Icon-App-57x57@1x.png" platform="ios" width="57" height="57" />

iPhone / iPod Touch 
<icon src="icons/ios/AppIcon/Icon-App-60x60@1x.png" platform="ios" width="60" height="60" />
<icon src="icons/ios/AppIcon/Icon-App-60x60@2x.png" platform="ios" width="120" height="120" />   

iPad 
<icon src="icons/ios/AppIcon/Icon-App-76x76@1x.png" platform="ios" width="76" height="76" />
<icon src="icons/ios/AppIcon/Icon-App-76x76@2x.png" platform="ios" width="152" height="152" />
<icon src="icons/ios/AppIcon/Icon-App-83.5x83.5@2x.png" platform="ios" width="167" height="167" />

Settings Icon 
<icon src="icons/ios/AppIcon/Icon-App-29x29@1x.png" platform="ios" width="29" height="29" />
<icon src="icons/ios/AppIcon/Icon-App-57x57@2x.png" platform="ios" width="58" height="58" /> -->



        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-60x60@3x.png" platform="ios" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
<icon src="www/res/icons/ios/AppIcon/Icon-App-60x60@1x.png" platform="ios" width="60" height="60" />
<icon src="www/res/icons/ios/AppIcon/Icon-App-60x60@2x.png" platform="ios" width="120" height="120" />


<icon src="www/res/icons/ios/AppIcon/Icon-76.png" platform="ios" width="76" height="76" />
<icon src="www/res/icons/ios/AppIcon/Icon-76@2x.png" platform="ios" width="152" height="152" />


        <!-- iPad -->

        <!-- Spotlight Icon -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-40x40@1x.png" platform="ios" width="40" height="40" />
        <icon src="www/res/icons/ios/AppIcon/Icon-App-40x40@2x.png" platform="ios" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-57x57@1x.png" platform="ios" width="57" height="57" />
        <icon src="www/res/icons/ios/AppIcon/Icon-App-57x57@2x.png" platform="ios" width="114" height="114" />
        <!-- iPad -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-72x72@1x.png" platform="ios" width="72" height="72" />
        <icon src="www/res/icons/ios/AppIcon/Icon-App-72x72@2x.png" platform="ios" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-83.5x83.5@2x.png" platform="ios" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-29x29@1x.png" platform="ios" width="29" height="29" />
        <icon src="www/res/icons/ios/AppIcon/Icon-App-29x29@2x.png" platform="ios" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-50x50@1x.png" platform="ios" width="50" height="50" />
        <icon src="www/res/icons/ios/AppIcon/Icon-App-50x50@2x.png" platform="ios" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="www/res/icons/ios/AppIcon/Icon-App-83.5x83.5@2x.png" platform="ios" width="167" height="167" />





</widget>